.active{
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}
.bg-blue-50{
    background-color: #eff6ff;
}
.fileIcon{
    width: 100px;
    height: 100px;
}
.upload-excel{
    border-style: dashed;
    // border-width: 1px;
    border-color: #d6d6d6;
}