.sidenav{
    width: 275px;
    height: 100vh;
    padding: 10px;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sidenav-content{
    display: grid;
    grid-template-rows: 70px 1fr;
    height: 100%;
}
.main-layout-container{
    width: auto;
    padding: 0 2rem 2rem 2rem;
    background-color: #f5f5f5;
}
.mat-drawer-container{
    height: 100% !important;
}